body {
    margin: 10px;
}


.layui-table-cell {
    height: 60px;
    line-height: 60px;
}
.layui-btn{
    background-color: #7dd35c;
    border-radius: 20%;
    width: 70px;
    height: 36px;
    font-size: 14px;
}
.layui-btn:hover{
    background-color: #8daa63;
    color: #111212;
}
