body{
    margin:10px;
}

.pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.layui-table-cell {
    height: 60px;
    line-height: 60px;
}

.layui-btn{
    background-color: #7dd35c;
    border-radius: 20%;
    width: 70px;
    height: 36px;
    font-size: 14px;
}
.layui-btn:hover{
    background-color: #8daa63;
    color: #111212;
}

[name="toolBtn"]{
    width: 45px;
    height: 25px;
}
.layui-btn-sm{
    line-height: 10px !important;
}
